// Заголовки, общие БЄМ блоки и проче...
.button {
    padding: 15px 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background: rgba(244, 69, 69, 1);
    border-radius: 6px;
}