//====================================================================================================
.header {
	margin-bottom: 50px;
	box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .5);
}
.header__container {
	
}
.header-wrapper {
	padding: 20px 0px 20px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__logo {
}
.header__logo-link {
}
.header-list {
	display: flex;
	column-gap: rem(57);
}
.header-item {
	position: relative;
}
.header-link {
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	color: #021206;
	transition: color 0.2s ease-in-out;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		bottom: -7px;
		width: 0;
		height: 3px;
		background: #474bff;
		// background: -webkit-linear-gradient(0deg, #474bff 0%, #bc48ff 100%);
		// background: linear-gradient(0deg, #474bff 0%, #bc48ff 100%);
		transition: width 0.3s ease-in-out;
	}
	&:hover {
		color: #474bff;
	}
	&:hover::before {
		width: 100%;
	}
}

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
